<div class="body">
  <div class="crear-parqueadero">
    <form [formGroup]="ParqueaderoForm" (ngSubmit)="guardarParqueadero()">
      <h1 class="titulo" style="margin-bottom: 50px;">Crear Parqueadero</h1>
      <mat-form-field class="ancho">
        <mat-label>Nombre Parqueadero</mat-label>
        <input type="text" matInput formControlName="nombre">
      </mat-form-field>
      <br>
      <button type="submit" class="ancho boton" mat-flat-button [disabled]="ParqueaderoForm.invalid"
        color="primary">Crear Parqueadero</button>
    </form>
  </div>
</div>