<div class="body">
  <div class="crear-empleado">
    <form [formGroup]="EmpleadoForm" (ngSubmit)="guardarEmpleado()">
      <h1 class="titulo" style="margin-bottom: 50px;">Crear Empleado</h1>
      <mat-form-field class="ancho">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput formControlName="nombre">
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Apellido</mat-label>
        <input type="text" matInput formControlName="apellido">
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Tipo Identificacion</mat-label>
        <mat-select formControlName="tipoIdentificacion">
          <mat-option *ngFor="let item of tipoIdentificacion" [value]="item">
            {{ item.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Numero Identificacion</mat-label>
        <input type="number" matInput formControlName="numeroIdentificacion">
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Correo Electronico</mat-label>
        <input type="text" matInput formControlName="correoElectronico">
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Tipo Empleado</mat-label>
        <mat-select formControlName="tipoEmpleado">
          <mat-option *ngFor="let item of tipoEmpleado" [value]="item">
            {{ item.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Sede</mat-label>
        <mat-select formControlName="sede">
          <mat-option *ngFor="let item of sede" [value]="item">
            {{ item.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
        <button type="button"
          mat-icon-button
          matSuffix
          (click)="toggleVisibility()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <button type="submit" class="ancho boton" mat-flat-button [disabled]="EmpleadoForm.invalid"
        color="primary">Crear Empleado</button>
    </form>
  </div>
</div>