<mat-toolbar color="primary">
  <span>Gestion Vehiculos</span>
  <span class="example-spacer"></span>
  <button mat-button [routerLink]="['/empleado/ingreso-vehiculo']">
    ingresar Vehiculo
  </button>
  <button mat-button [matMenuTriggerFor]="sesionesParqueo">Gestionar Sesiones</button>
  <mat-menu #sesionesParqueo="matMenu">
    <button mat-menu-item [routerLink]="['/empleado/sesiones-parqueo-activas']">
      Sesiones Parqueo Activas
    </button>
    <button mat-menu-item [routerLink]="['/empleado/historial-sesiones-parqueo']">
      Historial Sesiones Parqueo
    </button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="planes">Planes</button>
  <mat-menu #planes="matMenu">
    <button mat-menu-item [routerLink]="['/empleado/crear-plan']">
      Crear Plan
    </button>
    <button mat-menu-item [routerLink]="['/empleado/lista-plan']">
      Gestionar Planes
    </button>
  </mat-menu>
  <button (click)="logout()" mat-icon-button matTooltip="Cerrar Sesión">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>