<div class="container">
  <div class="contenedor-title justify-content-center">
    <h1 class="text-center title">Crear Empleado</h1>
  </div>
  <div class="contenedor-form">
    <div class="form form-cuenta">
      <form [formGroup]="EmpleadoForm" (ngSubmit)="guardarEmpleado()">
        <div class="mb-3">
          <label class="form-label">Nombre</label>
          <input type="text" class="form-control" formControlName="nombre">
        </div>
        <div class="mb-3">
          <label class="form-label">Apellido</label>
          <input type="email" class="form-control" formControlName="apellido">
        </div>
        <div class="mb-3">
          <label class="form-label">Tipo Identificacion</label>
          <select class="form-control" formControlName="tipoIdentificacion">
            <option [ngValue]="item" *ngFor="let item of tipoIdentificacion">{{item.nombre}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Numero Identificacion</label>
          <input type="text" class="form-control" formControlName="numeroIdentificacion">
        </div>
        <div class="mb-3">
          <label class="form-label">Correo Electronico</label>
          <input type="text" class="form-control" formControlName="correoElectronico">
        </div>
        <div class="mb-3">
          <label class="form-label">Tipo Empleado</label>
          <select class="form-control" formControlName="tipoEmpleado">
            <option [ngValue]="item" *ngFor="let item of tipoEmpleado">{{item.nombre}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Sede</label>
          <select class="form-control" formControlName="sede">
            <option [ngValue]="item" *ngFor="let item of sede">{{item.nombre}}</option>
          </select>
        </div>
        <div class="mb-3">
          <label class="form-label">Contraseña</label>
          <input type="text" class="form-control" formControlName="password">
        </div>
        <div class="col text-center">
          <button type="submit">Crear Empleado</button>
        </div>
      </form>
    </div>
  </div>
</div>