<div class="contenedor">
    <mat-toolbar class="toolbar">
        <span>Vehiculos</span>
        <div class="example-spacer"></div>
    </mat-toolbar>

    <div *ngIf="vehiculos.length > 0">
        <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort> 

                <ng-container matColumnDef="placa">
                    <th mat-header-cell *matHeaderCellDef>Placa</th>
                    <td mat-cell *matCellDef="let element" > {{element.placa}} </td>
                </ng-container>

                <ng-container matColumnDef="tipoVehiculo">
                    <th mat-header-cell *matHeaderCellDef>Tipo Vehiculo</th>
                    <td mat-cell *matCellDef="let element" style="width: 150px;"> {{element.tipoVehiculo.tipoVehiculo}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                        <a class="pointer" (click)="editarCliente(element)" style="color: #1f516f;" matTooltip="Editar Vehiculo">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="pointer" (click)="eliminarCliente(element)" style="color: #e15639;"
                            matTooltip="Eliminar Vehiculo">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 25, 100]"
                aria-label="Select page of sedes"></mat-paginator>
        </div>
    </div>
    <h2 *ngIf="vehiculos.length == 0">No hay registros para mostrar</h2>
</div>