<div class="body">
    <div class="crear-empleado">
        <form [formGroup]="salidaVehiculoForm" (ngSubmit)="salidaVehiculo()">
            <h1 class="titulo" style="margin-bottom: 50px;">Salida de Vehiculo</h1>

            <mat-form-field class="ancho">
                <mat-label>Placa Del Vehiculo</mat-label>
                <input type="text" matInput formControlName="placa" appUppercase>
            </mat-form-field>

            <br>
            <button type="submit" class="ancho boton" mat-flat-button [disabled]="salidaVehiculoForm.invalid"
                color="primary">Salida de Vehiculo</button>
        </form>
    </div>
</div>