<div class="body">
  <div class="login">
    <mat-spinner *ngIf="loading" class="spiner" diameter="50"></mat-spinner>
    <form *ngIf="!loading" [formGroup]="loginForm" (ngSubmit)="iniciarSesion()">
      <h1 class="titulo" style="margin-bottom: 50px;">Iniciar Sesion</h1>
      <mat-form-field class="ancho">
        <mat-label>Tipo Empleado</mat-label>
        <mat-select formControlName="tipoEmpleado">
          <mat-option *ngFor="let item of tipoEmpleado" [value]="item">
            {{ item.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Número De Identificación</mat-label>
        <input type="number" matInput formControlName="numeroIdentificacion">
      </mat-form-field>
      <mat-form-field class="ancho">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Ingrese la contraseña">
      </mat-form-field>
      <br>
      <button class="ancho boton" mat-flat-button [disabled]="loginForm.invalid" color="primary">Iniciar Sesion</button>
    </form>
  </div>
</div>
