<div class="contenedor">
    <mat-toolbar class="toolbar">
        <span>Planes</span>
        <div class="example-spacer"></div>
    </mat-toolbar>

    <div *ngIf="planes.length > 0">
        <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="sede">
                    <th mat-header-cell *matHeaderCellDef> sede </th>
                    <td mat-cell *matCellDef="let element"> {{element.sede.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="vehiculo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehiculo </th>
                    <td mat-cell *matCellDef="let element"> {{element.vehiculo.placa}} </td>
                </ng-container>

                <ng-container matColumnDef="cliente">
                    <th mat-header-cell *matHeaderCellDef> Cliente </th>
                    <td mat-cell *matCellDef="let element"> {{element.cliente.numeroIdentificacion}} </td>
                </ng-container>

                <ng-container matColumnDef="tipoPlan">
                    <th mat-header-cell *matHeaderCellDef> Tipo Plan </th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoPlan.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaInicio">
                    <th mat-header-cell *matHeaderCellDef> Fecha Inicio Vigencia </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaFin">
                    <th mat-header-cell *matHeaderCellDef> Fecha Fin Vigencia </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaFin}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;">
                        <a class="pointer" style="color: #1878b0;" matTooltip="Ver Plan">
                            <mat-icon>search</mat-icon>
                        </a>
                        <a class="pointer" (click)="editarSede(element)" style="color: #1f516f;"
                            matTooltip="Editar Plan">
                            <mat-icon>edit</mat-icon>
                        </a>
                        <a class="pointer" (click)="eliminarSede(element)" style="color: #e15639;"
                            matTooltip="Eliminar Plan">
                            <mat-icon>delete</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of sedes"></mat-paginator>
        </div>
    </div>
    <h2 *ngIf="planes.length == 0">No hay registros para mostrar</h2>
</div>