<div class="container">
    <div class="contenedor-list">
        <div class="contenedor-title justify-content-center">
            <h1 class="text-center title">Parqueaderos</h1>
        </div>  

        <table class="table lista-parqueaderos custom-bg">
            <thead>
                <tr>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of parqueaderos">
                    <td>{{item.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
