<div *ngIf="showNavBar">
  <mat-toolbar color="primary">
  <span>Parqueadero</span>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="parqueadero">Parqueaderos</button>
<mat-menu #parqueadero="matMenu">
  <button mat-menu-item routerLink="/parqueadero">Crear Parqueadero</button>
  <button mat-menu-item routerLink="/lista-parqueaderos">Gestion Parqueaderos</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="sedes">Sedes</button>
<mat-menu #sedes="matMenu">
  <button mat-menu-item routerLink="/sede">Crear Sede</button>
  <button mat-menu-item routerLink="/lista-sedes">Gestion Sedes</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="empleados">Empleados</button>
<mat-menu #empleados="matMenu">
  <button mat-menu-item routerLink="/empleado">Crear Empleado</button>
  <button mat-menu-item routerLink="/lista-empleados">Gestion Empleados</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="tarifas">Tarifas</button>
<mat-menu #tarifas="matMenu">
  <button mat-menu-item routerLink="/tarifa">Crear Tarifa</button>
  <button mat-menu-item routerLink="/lista-tarifas">Gestion Tarifas</button>
</mat-menu>
<button (click)="logout()" mat-icon-button matTooltip="Cerrar Sesion">
  <mat-icon>logout</mat-icon>
</button>
</mat-toolbar>
</div>
<router-outlet></router-outlet>
