<div *ngIf="showNavBar">
  <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
    <a class="navbar-brand title" routerLink="/parqueadero">Parqueadero JDM</a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link nav-CrearParqueadero" routerLink="/parqueadero">Crear Parqueadero</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-CrearSede" routerLink="/sede">Crear Sede</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-CrearEmpleado" routerLink="/empleado">Crear Empleado</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-ListaParqueaderos" routerLink="/lista-parqueaderos">Lista Parqueaderos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-ListaSedes" routerLink="/lista-sedes">Lista Sedes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-ListaSedes" routerLink="/lista-empleados">Lista Empleados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-CerrarSesion" (click)="logout()">Cerrar Sesion</a>
      </li>
    </ul>
  </nav>
</div>
<router-outlet></router-outlet>
