.title {
    font-size: 23px;
    font-weight: bold;
}

nav {
    background-color: #C3C3C3 !important;
}

.nav-CrearParqueadero {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.nav-CrearParqueadero:hover {
    background-color: black;
    color: white;
}

.nav-CrearSede {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.nav-CrearSede:hover {
    background-color: black;
    color: white;
}

.nav-ListaParqueaderos {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.nav-ListaParqueaderos:hover {
    background-color: black;
    color: white;
}

.nav-ListaSedes {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.nav-ListaSedes:hover {
    background-color: black;
    color: white;
}

.nav-CerrarSesion {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.nav-CerrarSesion:hover {
    background-color: red;
    color: black;
}

.nav-CrearEmpleado {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.nav-CrearEmpleado:hover {
    background-color: black;
    color: white;
}