<div class="body">
  <div class="crear-plan">
    <form [formGroup]="PlanForm" (ngSubmit)="guardarPlan()">
      <h1 class="titulo" style="margin-bottom: 50px;">Crear Plan</h1>

      <mat-form-field class="ancho">
        <mat-label>Sede</mat-label>
        <mat-select formControlName="sede">
          <mat-option *ngFor="let item of sede" [value]="item">
            {{ item.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="input-button-container">
        <mat-form-field class="input-field">
          <mat-label>Vehículo</mat-label>
          <input type="text" placeholder="Seleccionar vehículo" matInput [formControl]="vehiculoControl"
            [matAutocomplete]="autoVehiculo" appUppercase>
          <mat-autocomplete #autoVehiculo="matAutocomplete" [displayWith]="displayVehiculoFn">
            <mat-option *ngFor="let item of filteredVehiculos | async" [value]="item">
              {{ item.placa }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="vehiculoControl.hasError('required')">El campo vehículo es obligatorio</mat-error>
          <mat-error *ngIf="vehiculoControl.hasError('invalidItem')">Seleccione un vehículo válido</mat-error>
        </mat-form-field>

        <button type="button" class="action-button" (click)="crearVehiculo()" mat-flat-button color="primary">Crear
          Vehículo</button>
      </div>

      <div class="input-button-container">
        <mat-form-field class="input-field">
          <mat-label>Cliente</mat-label>
          <input type="text" placeholder="Seleccionar cliente" matInput [formControl]="clienteControl"
            [matAutocomplete]="autoCliente">
          <mat-autocomplete #autoCliente="matAutocomplete" [displayWith]="displayClienteFn">
            <mat-option *ngFor="let item of filteredClientes | async" [value]="item">
              {{ item.numeroIdentificacion }}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="clienteControl.hasError('required')">El campo cliente es obligatorio</mat-error>
          <mat-error *ngIf="clienteControl.hasError('invalidItem')">Seleccione un cliente válido</mat-error>
        </mat-form-field>

        <button type="button" class="action-button" (click)="crearCliente()" mat-flat-button color="primary">Crear
          Cliente</button>
      </div>

      <mat-form-field class="ancho">
        <mat-label>Tipo Plan</mat-label>
        <mat-select formControlName="tipoPlan">
          <mat-option *ngFor="let item of tipoPlan" [value]="item">
            {{ item.nombre }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="ancho" style="margin-bottom: 10px;">
        <mat-label>Fecha Inicio vigencia</mat-label>
        <input matInput [matDatepicker]="fechainiciovigencia" formControlName="fechaInicio">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="fechainiciovigencia"></mat-datepicker-toggle>
        <mat-datepicker #fechainiciovigencia></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="ancho">
        <mat-label>Fecha Fin vigencia</mat-label>
        <input matInput [matDatepicker]="fechafinvigencia" formControlName="fechaFin">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="fechafinvigencia"></mat-datepicker-toggle>
        <mat-datepicker #fechafinvigencia></mat-datepicker>
      </mat-form-field>

      <br>
      <button type="submit" class="ancho boton" mat-flat-button [disabled]="PlanForm.invalid" color="primary">Crear
        Plan</button>
    </form>
  </div>
</div>