.body {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.crear-plan {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.ancho {
  width: 100%;
}

.boton {
  padding: 10px;
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 2%;
  margin-bottom: 5%;
}

.input-button-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-field {
  flex: 2;
  margin-right: 10px;
}

.action-button {
  flex: 1;
  white-space: nowrap;
  min-width: 120px;
  max-width: 150px;
  padding: 8px 16px;
}

.mat-form-field {
  width: 100%;
}