<div class="body">
    <div class="crear-empleado">
        <form [formGroup]="CeldaForm" (ngSubmit)="guardarCelda()">

            <h1 class="titulo" style="margin-bottom: 50px;">Crear Celdas</h1>

            <mat-form-field class="ancho">
                <mat-label>Sede</mat-label>
                <mat-select formControlName="sede">
                    <mat-option *ngFor="let item of sede" [value]="item">
                        {{ item.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="ancho">
                <mat-label>Tipo Vehiculo</mat-label>
                <mat-select formControlName="tipoVehiculo">
                    <mat-option *ngFor="let item of tipoVehiculo" [value]="item">
                        {{ item.tipoVehiculo }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="ancho">
                <mat-label>Cantidad de celdas</mat-label>
                <input type="number" matInput formControlName="cantidadCeldas">
            </mat-form-field>

            <br>
            <button type="submit" class="ancho boton" mat-flat-button [disabled]="CeldaForm.invalid"
                color="primary">Crear Celdas</button>
        </form>
    </div>
</div>