<h2 mat-dialog-title>Editar Tarifa</h2>
<mat-dialog-content>
    <div class="body">
        <div class="crear-empleado">
            <form [formGroup]="TarifaForm">
    
                <mat-form-field class="ancho">
                    <mat-label>Sede</mat-label>
                    <mat-select formControlName="sede">
                        <mat-option *ngFor="let item of sede" [value]="item">
                            {{ item.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field class="ancho">
                    <mat-label>Tipo Vehiculo</mat-label>
                    <mat-select formControlName="tipoVehiculo">
                        <mat-option *ngFor="let item of tipoVehiculo" [value]="item">
                            {{ item.tipoVehiculo }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field class="ancho">
                    <mat-label>Tipo Tarifa</mat-label>
                    <mat-select formControlName="tipoTarifa">
                        <mat-option *ngFor="let item of tipoTarifa" [value]="item">
                            {{ item.tipoTarifa }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field class="ancho">
                    <mat-label>Tarifa</mat-label>
                    <input type="number" matInput formControlName="tarifa">
                </mat-form-field>
    
                <mat-form-field class="ancho">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option *ngFor="let item of estado" [value]="item">
                            {{ item.estado }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
    
                <mat-form-field class="ancho" style="margin-bottom: 10px;">
                    <mat-label>Fecha Inicio vigencia</mat-label>
                    <input matInput [matDatepicker]="fechainiciovigencia" formControlName="fechaInicioVigencia">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="fechainiciovigencia"></mat-datepicker-toggle>
                    <mat-datepicker #fechainiciovigencia></mat-datepicker>
                  </mat-form-field>
    
                  <mat-form-field class="ancho">
                    <mat-label>Fecha Fin vigencia</mat-label>
                    <input matInput [matDatepicker]="fechafinvigencia" formControlName="fechaFinVigencia">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="fechafinvigencia"></mat-datepicker-toggle>
                    <mat-datepicker #fechafinvigencia></mat-datepicker>
                  </mat-form-field>
    
                <br>
            </form>
        </div>
    </div>
    
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button (click)="cancelar()" mat-button>Cancelar</button>
  <button mat-button (click)="actualizarTarifa()" color="primary" cdkFocusInitial>Editar</button>
</mat-dialog-actions>