<div class="body">
    <div class="crear-empleado">
        <form [formGroup]="TarifaForm" (ngSubmit)="guardarTarifa()">

            <h1 class="titulo" style="margin-bottom: 50px;">Crear Tarifa</h1>

            <mat-form-field class="ancho">
                <mat-label>Sede</mat-label>
                <mat-select formControlName="sede">
                    <mat-option *ngFor="let item of sede" [value]="item">
                        {{ item.nombre }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="ancho">
                <mat-label>Tipo Vehiculo</mat-label>
                <mat-select formControlName="tipoVehiculo">
                    <mat-option *ngFor="let item of tipoVehiculo" [value]="item">
                        {{ item.tipoVehiculo }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="ancho">
                <mat-label>Tipo Tarifa</mat-label>
                <mat-select formControlName="tipoTarifa">
                    <mat-option *ngFor="let item of tipoTarifa" [value]="item">
                        {{ item.tipoTarifa }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="ancho">
                <mat-label>Tarifa</mat-label>
                <input type="number" matInput formControlName="tarifa">
            </mat-form-field>

            <mat-form-field class="ancho">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado">
                    <mat-option *ngFor="let item of estado" [value]="item">
                        {{ item.estado }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="ancho" style="margin-bottom: 10px;">
                <mat-label>Fecha Inicio vigencia</mat-label>
                <input matInput [matDatepicker]="fechainiciovigencia" formControlName="fechainiciovigencia">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="fechainiciovigencia"></mat-datepicker-toggle>
                <mat-datepicker #fechainiciovigencia></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="ancho">
                <mat-label>Fecha Fin vigencia</mat-label>
                <input matInput [matDatepicker]="fechafinvigencia" formControlName="fechafinvigencia">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="fechafinvigencia"></mat-datepicker-toggle>
                <mat-datepicker #fechafinvigencia></mat-datepicker>
              </mat-form-field>

            <br>
            <button type="submit" class="ancho boton" mat-flat-button [disabled]="TarifaForm.invalid" color="primary">Crear Tarifa</button>
        </form>
    </div>
</div>
